doctype html
html
    include _includes/_head.pug
    body.starterkit
        include _includes/_header.pug
        include _includes/_loading.pug
        include _includes/_content.pug
        include _includes/_footer.pug
