/* imported css partial files from SemanticUI library */

@import '../libs/semantic/dist/components/reset';
@import '../libs/semantic/dist/components/site';
@import '../libs/semantic/dist/components/button';
@import '../libs/semantic/dist/components/container';
@import '../libs/semantic/dist/components/divider';
@import '../libs/semantic/dist/components/header';
@import '../libs/semantic/dist/components/icon';
@import '../libs/semantic/dist/components/image';
@import '../libs/semantic/dist/components/label';
@import '../libs/semantic/dist/components/list';
@import '../libs/semantic/dist/components/segment';
@import '../libs/semantic/dist/components/grid';
@import '../libs/semantic/dist/components/card';
@import '../libs/semantic/dist/components/progress';

/* Global css tweaks */

body {
  color: rgba(0, 0, 0, 0.68);
}

p {
  line-height: 1.5em;
}

h3.sub.header {
  font-weight: 300;
}


/* Body style */

body .starterkit {
  padding-top: 2em;
  background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/crossword.png)
}

body > .container {
  display: block;
  opacity: 1;
  transition: opacity 1s ease-in;
}


/* Media queries and grid tweaks */

@media screen and (max-width: 486px) {
  .ui.grid > .column[class*="six wide"],
  .ui.grid > .column[class*="ten wide"] {
    width: 100% !important;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 487px) and (max-width: 1000px) {
  .ui.grid > .column[class*="six wide"],
  .ui.grid > .column[class*="ten wide"] {
    width: 80% !important;
    margin: 0 10%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1001px) {
  html,
  body.starterkit {
    font-size: 16px;
  }
  body > .grid > .six.wide.column {
    padding-right: 0;
  }
}

.ui.grid > .column:not(.row) {
  padding-top: 2em;
}


/* My image class */

.ui.circular.image.my-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 1px 0 #fff;
}


/* Icons tweaks */

.ui.grid > .icon-wide.column {
  width: 90px !important;
}

.ui.grid > .icon-wide-desc.column {
  width: calc(100% - 90px) !important;
  padding-left: 0;
}

i.very.big.icon {
  line-height: 1;
  vertical-align: middle;
  font-size: 2.25em;
  padding-top: .25em;
  margin: 0;
}

i.icon:hover {
  transform: scale(1.1);
  transition: all .5s;
}


/* Progress bars tweaks */

.ui.tiny.progress {
  margin-bottom: 3em;
}

.ui.progress[data-percent="40"] > div.bar {
  width: 40%;
}

.ui.progress[data-percent="45"] > div.bar {
  width: 45%;
}

.ui.progress[data-percent="50"] > div.bar {
  width: 50%;
}

.ui.progress[data-percent="55"] > div.bar {
  width: 55%;
}

.ui.progress[data-percent="60"] > div.bar {
  width: 60%;
}

.ui.progress[data-percent="65"] > div.bar {
  width: 65%;
}

.ui.progress[data-percent="70"] > div.bar {
  width: 70%;
}

.ui.progress[data-percent="75"] > div.bar {
  width: 75%;
}


/* Utility class for typography purposes */

.typo-grid:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient( to bottom, transparent 20px, #f00 21px);
  background-size: 100% 21px;
  z-index: 999;
}


/* Gitlab ribbon */

.ribbon {
  width: 200px;
  background: #2185D0;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  position: fixed;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  z-index: 999;
  display: block;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.ribbon.loading {
  display: none;
  opacity: 0;
  transition: all 1s linear;
}

.ribbon a {
  color: #fff;
}


/* Loading */

.loader {
  bottom: 0;
  height: 58px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 97px;
  z-index: 999;
}

.loader-line-wrap {
  animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  height: 49px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 97px;
}

.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  height: 97px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 97px;
}

.loader-line-wrap:nth-child(1) {
  animation-delay: -57.5ms;
}

.loader-line-wrap:nth-child(2) {
  animation-delay: -115ms;
}

.loader-line-wrap:nth-child(3) {
  animation-delay: -172.5ms;
}

.loader-line-wrap:nth-child(4) {
  animation-delay: -230ms;
}

.loader-line-wrap:nth-child(5) {
  animation-delay: -287.5ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: rgb(234, 71, 71);
  height: 88px;
  width: 88px;
  top: 7px;
}

.loader-line-wrap:nth-child(2) .loader-line {
  border-color: rgb(234, 234, 71);
  height: 74px;
  width: 74px;
  top: 14px;
}

.loader-line-wrap:nth-child(3) .loader-line {
  border-color: rgb(71, 234, 71);
  height: 60px;
  width: 60px;
  top: 20px;
}

.loader-line-wrap:nth-child(4) .loader-line {
  border-color: rgb(71, 234, 234);
  height: 47px;
  width: 47px;
  top: 27px;
}

.loader-line-wrap:nth-child(5) .loader-line {
  border-color: rgb(71, 71, 234);
  height: 33px;
  width: 33px;
  top: 34px;
}

@keyframes cssload-spin {
  0%,
  15% {
    transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-spin {
  0%,
  15% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spin {
  0%,
  15% {
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spin {
  0%,
  15% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-spin {
  0%,
  15% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
