include _data.pug

div.ribbon.loading
  a(href='http://' + globals.gitlab + '/franek-resume')= 'Fork me on '
  i.gitlab.icon

div.ui.grid.container.loading
  div.six.wide.column
    include _section-1.pug
  div.ten.wide.column
    include _section-2.pug
    include _section-3.pug
    include _section-4.pug
