-
  var globals = {
    name: 'Damian Kieliszek',
    title: 'Frontend Developer',
    phone: '694-199-917',
    site: 'damian-kieliszek.pl',
    email: 'damian.kieliszek@gmail.com',
    gitlab: 'gitlab.com/damian-kieliszek',
    img: 'https://unsplash.it/g/400?image=1031',
    myImg: '/assets/files/img/me.png',
    resume: 'resume-en.pdf',
    interests: [
      {
        icon: 'food',
        desc: 'Cooking'
      },
      {
        icon: 'book',
        desc: 'Books'
      },
      {
        icon: 'hand rock',
        desc: 'MMA'
      },
      {
        icon: 'game',
        desc: 'Games'
      },
      {
        icon: 'film',
        desc: 'Movies'
      },
      {
        icon: 'heartbeat',
        desc: 'Health'
      }
    ],
    skills: {
      js: 65,
      ng: 45,
      html: 50,
      css: 60,
      sass: 50,
      des: 40
    },
    works: [
      {
        title: 'Frontend Developer',
        from: '2016',
        to: 'present',
        work: 'Freelance',
        desc: 'Developing hybrid mobile application with AngularJS, Ionic Framework and PHP REST API'
      },
      {
        title: 'Frontend Developer',
        from: '2012',
        to: '2016',
        work: 'Liberty Games Interactive',
        desc: 'Developing UI to browser game with Foundation Framework and jQuery and hybrid mobile application for this game with AngularJS, Ionic Framework and Java REST API. Developing landing page for Unity browser game with HTML5, CSS3 and vanilla JS.'
      },
      {
        title: 'Web Developer',
        from: '2011',
        to: '2012',
        work: 'Freelance',
        desc: 'Making landing pages, blogs and company pages with Wordpress, Foundation Framework and jQuery.'
      }
    ],
    schools: [
      {
        title: 'Computer Science',
        from: '2010',
        to: '2016',
        school: 'Wyższa Szkoła Informatyki i Zarządzania "COPERNICUS"',
        desc: "Bachelor's degree in Information technology (IT) Systems Engineering."
      }
    ],
    techs: [
      'AngularJS',
      'Bower',
      'IonicFramework',
      'Gulp',
      'jQuery',
      'ZurbFoundation',
      'SemanticUI',
      'SASS',
      'MaterialDesign',
      'Pug/Jade'
    ]
  };
