doctype html
head
	title Damian Kieliszek
	meta(charset='utf-8')
	meta(name='author', content='Damian Kieliszek')
	meta(name='description', content='Online resume')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	base(href='./assets/')
	link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700&subset=latin,latin-ext', rel='stylesheet', type='text/css')
	link(href='css/style.css', rel='stylesheet', type='text/css')
