div.loader
  div.loader-line-wrap
    div.loader-line
  div.loader-line-wrap
    div.loader-line
  div.loader-line-wrap
    div.loader-line
  div.loader-line-wrap
    div.loader-line
  div.loader-line-wrap
    div.loader-line
