div.ui.raised.fluid.card
  div.content
    div.ui.grid
      div.icon-wide.center.aligned.column
        i.very.big.student.icon
      div.icon-wide-desc.no-left-padding.column
        div.ui.vertical.segment
          h3.ui.header Education
        each school in globals.schools
          div.ui.vertical.segment
            h4.ui.header= school.title
              span= ' / ' + school.from + ' - ' + school.to
            p
              strong= school.school
              span= ' - ' + school.desc
