div.ui.raised.fluid.card
  div.content
    div.ui.grid
      div.icon-wide.center.aligned.column
        i.very.big.travel.icon
      div.icon-wide-desc.no-left-padding.column
        div.ui.vertical.segment
          h3.ui.header Work experience
        each work in globals.works
          div.ui.vertical.segment
            h4.ui.header= work.title
              span= ' / ' + work.from + ' - ' + work.to
            p
              strong= work.work
              span= ' - ' + work.desc
