//- Main Card
div.ui.raised.fluid.card
  div.image
    img(src=globals.img)
    img(src=globals.myImg).ui.circular.image.my-image
  div.content
    h2.ui.header= globals.name
    h3.sub.header
      = globals.title
    div.description
      div.ui.grid
        div.icon-wide.center.aligned.column
          i.very.big.user.icon
        div.icon-wide-desc.no-left-padding.column
          div.ui.vertical.segment
            h3.ui.header Info
            p.
              I’m Damian, an enthusiastic and self-motivated frontend developer from Wroclaw. I have five years of professional experience in developing web sites and web applications based on HTML5, CSS3 and JavaScript.
          div.ui.vertical.segment
            h3.ui.header Contact
            div.ui.list
              div.item
                i.linkify.icon
                div.content
                  a(href='http://' + globals.site)= globals.site
              div.item
                i.gitlab.icon
                div.content
                  a(href='http://' + globals.gitlab)= globals.gitlab
              div.item
                i.mail.icon
                div.content
                  a(href='mailto:' + globals.email)= globals.email
              div.item
                i.phone.icon
                div.content
                  span= globals.phone
          div.ui.vertical.segment
            h3.ui.header Interests
            div.content
              div.ui.three.columns.grid.center.aligned
                each interest in globals.interests
                  div.column
                    i.ui.big.icon(class=interest.icon)
                    div= interest.desc
          div.ui.vertical.segment.center.aligned
            a.ui.animated.fade.blue.big.button(tabindex=0, href=globals.resume)
              div.visible.content Download Resume
              div.hidden.content
                i.cloud.download.icon
