div.ui.raised.fluid.card
  div.content
    div.ui.grid
      div.icon-wide.center.aligned.column
        i.very.big.tasks.icon
      div.icon-wide-desc.no-left-padding.column
        div.ui.vertical.segment
          h3.ui.header Skills
        div.ui.vertical.segment
          div.ui.tiny.blue.progress(data-percent=globals.skills.js)
            div.bar
            div.label JavaScript
          div.ui.tiny.blue.progress(data-percent=globals.skills.html)
            div.bar
            div.label HTML5
          div.ui.tiny.blue.progress(data-percent=globals.skills.css)
            div.bar
            div.label CSS3
          div.ui.tiny.blue.progress(data-percent=globals.skills.des)
            div.bar
            div.label Design
          h3.ui.header Frameworks, libraries and stuff...
        div.ui.vertical.segment
          div.ui.labels
            each tech in globals.techs
              a.ui.large.blue.label= tech
